.Product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 25px;
}
.Product span {
    display: block;
}
.img-product {
    width: 230px;
    height: 160px;
}
.Btn {
    padding: 12px 20px;
}
