.MainBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
}
.Products {
    width: 35%;
}
.Basket {
    width: 25%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}
.Orders {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.ProductCount {
    margin-left: 15px;
}
.placeOrder {
    background-color: #dad735;
    outline: none;
    cursor: pointer;
}